# field�?tab으로 분리할것
# 라인수가 10라인�?넘으�?모니�?서버 소스�?고칠�?
#------------------------------------------------------------------------------------------------------
# Application�?tick 계산�?위한 설정�?
1.Define_Tick_Count_Value                       30
# Packet�?받을 서버 UDP 포트
2.Define_Server_UDP_Port                        40401
# Packet�?받을 서버 TCP 포트
3.Define_Server_TCP_Port                        40401
