# field�?tab으로 분리할것
# 라인수가 10라인�?넘으�?모니�?서버 소스�?고칠�?
#------------------------------------------------------------------------------------------------------
# Application�?tick 계산�?위한 설정�?
1.Define_Tick_Count_Value                       30
# Packet�?받을 서버 UDP 포트
2.Define_Server_UDP_Port                        30403
# 서버 �?번호, 1 : 카인, 2 : 디레, 3 : 시로�? 4 : 프레�? 5 : 카시야스, 6 : 힐더, 99 : 퍼섭 , 98 : 개발�?
3.Server_Group                                  3
# Packet�?받을 서버 TCP 포트
4.Define_Server_TCP_Port                        30403
5.Define_DBMW_TCP_IP                            <PrivateIP>
6.Define_DBMW_TCP_PORT                          20403

#-------|-------------|-------|---------------|------------------|
#Type   | Server Group| Index |  Server IP    | Server UDP Port  |
#-------|-------------|-------|---------------|------------------|
DBMW    2               3      200     <PrivateIP>          20403
