# field�� tab���� �и��Ұ�
# ���μ��� 20������ ������ ����� ���� �ҽ��� ��ĥ��
#------------------------------------------------------------------------------------------------------
# Application�� tick ����� ���� ����ġ
1.Define_Tick_Count_Value			30
# Packet�� ���� ���� UDP ��Ʈ
# Cain Server UDP Port
1				30701
